<!DOCTYPE html>
<html lang="<%= locale %>">
  <%= partial '__assets/layouts/head' %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

        <!-- Content -->
        <%= yield %>

			</div>

		<!-- Scripts -->
    <%= partial '__assets/layouts/scripts' %>

	</body>
</html>
